@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@model P2FixAnAppDotNetCode.Models.Cart
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="">
        @if (Model.CartLines.Count() > 0)
    {
        <small class="navbar-text">
            <b>@Localizer["YourCart"]:</b>
            @Model.CartLines.Sum(x => x.Quantity) @Localizer["CartItems"]
            @Model.GetTotalValue().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-controller="Cart" asp-action="Index">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
